body{
    margin: 0%;
    padding: 0%;
    background-color: #e4e7ec;
}

.nameNav {
    vertical-align: top;
}


.raleway-navBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px 20px;
    font-size:  60px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #594192;
    color: aliceblue;
    position: relative;
    z-index: 1;

}



.navLogo img {
    width: 200px;
    height: auto;

}

.navSpace {
    margin-right: auto;
}

.inquiry {
    background: linear-gradient(to bottom,  #594192 0%, #e4e7ec 100%);
}

.inquiry1 {
    text-align: center;
    gap: 30px;
    padding: 20px 40px;
    font-size:  20px;
}







.contacts {
    vertical-align: bottom;
}


.contactsStyle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px 20px;
    font-size:  18px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #594192;
    color: #c9a84c;
    position: relative;
    z-index: 1;

}



.footerLogo img {
    width: 200px;
    height: auto;

}

.footerSpace {
    margin-right: auto;
}


@media (max-width: 768px) {
    .service {
        flex-direction: column; /* stacks cards vertically on mobile */
        align-items: center;
    }

    .heroContent {
        width: 100%;
        padding: 20px;
    }
}