body{
    margin: 0%;
    padding: 0%;
    background-color: #e4e7ec;
}

.nameNav {
    vertical-align: top;
}


.raleway-navBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 10px 20px;
    font-size:  60px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #594192;
    color: aliceblue;
    position: relative;
    z-index: 1;

}



.navLogo img {
    width: 200px;
    height: auto;

}

.navSpace {
    margin-right: auto;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px;
    background: linear-gradient(to bottom,  #594192 0%, #e4e7ec 100%);
    color: white;
}

.heroStory {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.heroStory h2 {
    color: white;
    font-size: 30px;
    font-weight: heavy;
    -webkit-text-stroke: 1px #e4e7ec;
}

.heroStory p {
    color:  #e4e7ec;
    font-size: 20px;
    -webkit-text-stroke: 2% white;
}


.ctaButton {
    background-color: #c9a84c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.ctaButton:hover {
    background-color: #a8872e;
    transition: 0.3s ease;
}




.heroImg {
    width: 400px;
}









.contacts {
    vertical-align: bottom;
}

